<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Todo List</h1>
    <div>add a new todo list</div>
    <form action="{{ url_for('add') }}" method="POST" >
            <input class="form-control" type="text" name="todoitem">
            <input value="Add item" type="submit"  >

    </form>
    <div class="form-group">
        <h2>incomplete items</h2>
        <ul>
            {% for todo in todos %}
            <li style="font-size: 30pt">{{ todo.text }} <a href="{{ url_for('complete', id=todo.id) }}">mark as complete</a> </li>
            {% endfor %}
        </ul>
            <h2>incomplete items</h2>
            <ul>
                {% for todo in incomplete %}
                 <li style="font-size: 30pt">{{ todo.text }} <a href="{{ url_for('complete', id=todo.id) }}">mark as complete</a> </li>
                {% endfor %}
            </ul>
            <h2>complete</h2>
            <ul>
                {% for todo in complete %}
                <li style="font-size: 30pt">{{ todo.text }}</li>
                {% endfor %}
            </ul>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
</script>
</body>
</html>